<a href="https://colab.research.google.com/github/andrewali1999/Andrew_DataAnalytics/blob/main/Andrew_Ali_2_6_Dictionary_Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Dictionary - Assignment #5

## 1.	Create a simple dictionary that stores 2 variables, for example: first and last name.

In [1]:
person = {'first_name': 'Andrew', 'last_name': 'Ali'}

## 2.	Print out those variables stored in your previous dictionary.

In [3]:
print(person['first_name'])
print(person['last_name'])

Andrew
Ali

## 3.	Add a message to those variables on printing: for example: “Hello, firstname lastname!”

In [9]:
person_name = person['first_name'] + " " + person['last_name']

In [10]:
print('Hello, ' + person_name)

Hello, Andrew Ali

## 4.	Create a dictionary that holds 2 key: value pairs:

a.	Loop through your dictionary and print each pair,

In [14]:
person_1 = {
    'first_name': 'Andrew',
    'last_name': 'Ali',
    'age': '22',
    'city': 'queens'
}

print(person_1)

{'first_name': 'Andrew', 'last_name': 'Ali', 'age': '22', 'city': 'queens'}

In [15]:
for key, value in person_1.items():
  print('Key: ' + key)
  print('Value: ' + value + '\n')

Key: first_name
Value: Andrew

Key: last_name
Value: Ali

Key: age
Value: 22

Key: city
Value: queens